.login {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h3 {
        color: white;
        margin-bottom: 0.3rem;
    }


    form {
        width: 50%;
        display: grid;
        grid-template-columns: 70% 30%;

        input {
            height: 2rem;
            border-radius: 15px 0 0 15px;
            padding:  0 1rem;
            border: none;
            focus: none;
        }

        button {
            background-color: #305EF1;
            color: white;
            border-radius: 0 15px 15px 0;
            border: none;
            cursor: pointer;
        }
    }
}